

#################################################################################################################
################################# Variabes that can be changed by the user ################################################
#################################################################################################################

### Smart Sensor Tool0 ###

[gcode_macro _SENSOR_t0_VARIABLES]         # change here macro configurables, enable disable functions!*************************
variable_t0_load_temp              :235    # temperature to heat up hotend for filament loading, default is 235
variable_t0_unload_temp            :185    # temperature to heat up hotend for filament un-loading, default is 185
variable_t0_load_min_temp          :190    # minimum hotend set temperature allowed in filament load macro, default is 190
variable_t0_purge_length           :100    # filament extrude amount during load sequenc, hotend purge from old filament, default is 200
variable_t0_purge_speed            :450    # filament extrude speed in mm/min adjust this value lower if flow is too high and extruder skips during loading, default is 300
variable_t0_unload_distance        :85     # filament retract distance for unload procedure. this length shall be long enough to extract the filament above the drive gears
variable_t0_disable_autoload       :False  # disable filament autoload feature by setting this variable True
variable_t0_disable_runnout        :False  # disable runnout by setting this variable True
variable_t0_disable_autochange     :False  # disable filament auto change after runnout detection
variable_t0_disable_tangle         :False  # disable tangle by setting this variable True
variable_t0_disable_autounload     :False  # disable auto unload filament by setting this variable to True
variable_t0_enable_beep            :False   # uses M300 sound feature, set it True to enable
gcode:

######################## Description of the variables from Variables.cfg#########################
#                                                                                               #
# bp_zoff >>> Correction coefficient for Automatic Bed Probe calibration                        #
# tprobe >>> Temp of the Nozzles when probing the sensor                                        #
# mesh_tmp >>> Bed temp for Bed Mesh Leveling                                                   #
# h_brush >>> Z_Height for Nozzle brush                                                         #
# pmode >>> print mode for the nex print. 0-primary, 1-copy, 2-mirror                           #
# ttovr >>> toolhead take over. 0-None, 1-Tool0, 2-Tool1,                                       #
# pwrendp >>> power supply at end of the print.0-off, 1-on                                      # 
# >>> Y-offset T1 / T2 / T3 :                                                                   #
# x1offset                                                                                      #
# x2offset                                                                                      #
# x3offset                                                                                      #                                                                  
# >>> Y-offset T1 / T2 / T3 :                                                                   #
# y1offset                                                                                      #
# y2offset                                                                                      #
# y3offset                                                                                      #
# >>> Z-offset T1 / T2 / T3 :                                                                   #
# z1offset                                                                                      #
# z2offset                                                                                      #
# z3offset                                                                                      #
# >>> input shaper settings                                                                     #
#shaper_type_***                                                                                #
#shaper_freq_***                                                                                #
#                                                                                               #
#################################################################################################


## --> Default CFGs <--#################################--> NO update with [Update Manager] <-- ##
                                                                                                 #                                                                               
[include ./02__Boards_Serials/Mainboard_serial.cfg]                                              #
[include ./02__Boards_Serials/Tool0_serial.cfg]                                                  #
[include mainsail.cfg]                                                                           #
[include timelapse.cfg]                                                                          #
#[include moonraker_obico_macros.cfg]                                                            #
                                                                                                 #
##################################################################################################                          

## --> Formbot CFGs <--#################################--> UPDATED with [Update Manager] ! <-- ##
                                                                                                 #
[include ./0_Xplorer/01_Default_CFG/Xplorer_SINGLE.cfg]                                           #
                                                                                                 #
##################################################################################################

                 #### ! ONLY the characters '*' must be replaced ! ###


#### --> MODs CFGs <-- ################################### --> Added manually by the user <-- ####
##################################################################################################
                                                                                                 #
#[include ./0_Xplorer/02_MOD/2*_*****/****.cfg]                                                  #
#[include ./0_Xplorer/02_MOD/2*_*****/****.cfg]                                                  #
#[include ./0_Xplorer/02_MOD/2*_*****/****.cfg]                                                  #
                                                                                                 #
##################################################################################################
                                                                                          
##################################################################################################

#### --> User custom CFGs <--################       ############### --> Added  by the user <--  ###
                                                                                                  #
#[include ./01__User_Custom__CFG/****.cfg]                                                        #
#[include ./01__User_Custom__CFG/****.cfg]                                                        #
#[include ./01__User_Custom__CFG/****.cfg]                                                        #
#[include ./01__User_Custom__CFG/****.cfg]                                                        #
                                                                                                  #
##################################################################################################

##################################################################################################
# PID Configs                                                                                    #
##################################################################################################

[extruder]
control: pid
pid_Kp: 24.452
pid_Ki: 2.397
pid_Kd: 62.353

[heater_bed]
control: pid
pid_Kp:58.857 
pid_Ki:2.616 
pid_Kd:331.070

#pwm_cycle_time: 0.02 # use this value for 50Hz power systems (in EU for example)
#pwm_cycle_time: 0.0166 # use this value for 60Hz power systems (in USA and Canada for example)

##################################################################################################
# Bed Probe Offset                                                                               #
##################################################################################################
                                                                                                 #
[probe]                                                                                          #
z_offset: 0.85                                                                                   #
                                                                                                 #
##################################################################################################




#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [skew_correction SKEW1]
#*# xy_skew = 0.0
#*# xz_skew = 0.0
#*# yz_skew = 0.0
#*#
#*# [skew_correction SKEW0]
#*# xy_skew = 0.0
#*# xz_skew = 0.0
#*# yz_skew = 0.0
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0
#*# 	0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0
#*# 	0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0
#*# 	0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0
#*# 	0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0
#*# 	0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0
#*# 	0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0
#*# 	0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0
#*# x_count = 8
#*# y_count = 8
#*# mesh_x_pps = 3
#*# mesh_y_pps = 3
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = 20.0
#*# max_x = 399.96000000000004
#*# min_y = 10.0
#*# max_y = 389.9599999999999
#*#