##################################
# LLL Plus Filament Buffers
# Left Buffer = T0, Right Buffer = T1
##################################
# Wiring (BTT M8P V2.0):
#   T0 runout: M1-STOP  (PF4-GND)
#   T0 supply: FAN2     (VF2-PF6)
#   T1 runout: 5V-DET   (PB10-GND)
#   T1 supply: FAN3     (VF3-PF8)
##################################

##################################
# Buffer Power Supply
##################################

# If the pin polarity is inverted, add or remove '!' before the pin name

[output_pin Buffer_T0_power]
pin: PF6
value: 1
shutdown_value: 0

[output_pin Buffer_T1_power]
pin: PF8
value: 1
shutdown_value: 0

##################################
# Buffer Runout Sensors
##################################

[filament_switch_sensor T0_buffer]
switch_pin: ^PF4
pause_on_runout: True
runout_gcode:
    PAUSE
    RESPOND MSG="T0 buffer empty - filament runout detected, printing paused"
insert_gcode:
    RESPOND MSG="T0 buffer filament inserted, preparing to resume printing"
event_delay: 2.0
pause_delay: 2.0

[filament_switch_sensor T1_buffer]
switch_pin: ^PB10
pause_on_runout: True
runout_gcode:
    PAUSE
    RESPOND MSG="T1 buffer empty - filament runout detected, printing paused"
insert_gcode:
    RESPOND MSG="T1 buffer filament inserted, preparing to resume printing"
event_delay: 2.0
pause_delay: 2.0
