####################################
# Probe Macros (Cartographer/Beacon aware)
####################################
# Based on neoprobe.cfg by Transmutated (cgarwood82)
# Adapted for IDEX variant

[gcode_macro Z_SENSOR_PROBE_ONCE]
description: Probe once using whatever probe is installed (Cartographer, Beacon, or standard)
gcode:
    {% if printer["cartographer"] is defined %}
        CARTOGRAPHER_TOUCH_HOME
    {% elif printer["beacon"] is defined %}
        BEACON_PROBE
    {% else %}
        BASE_PROBE
    {% endif %}

###################################
# PROBE override
###################################

[gcode_macro PROBE]
rename_existing: BASE_PROBE
variable_probex: 0.0
variable_probey: 0.0
gcode:
    {% if printer.toolhead.extruder != "extruder" %}
        {% set current_x = printer.toolhead.position.x %}
        {% set current_y = printer.toolhead.position.y %}
        SET_GCODE_VARIABLE MACRO=PROBE VARIABLE=probex VALUE={current_x|float}
        SET_GCODE_VARIABLE MACRO=PROBE VARIABLE=probey VALUE={current_y|float}
        {% if current_x < 20 or current_x > 340 or current_y < 25 or current_y > 400 %}
            M118 Probe Position outside the probing area!
        {% else %}
            Tool0
            G1 X{current_x} Y{current_y} F10000
            Z_SENSOR_PROBE_ONCE
        {% endif %}
    {% else %}
        {% if printer.toolhead.position.x < 20 or printer.toolhead.position.y < 25 or printer.toolhead.position.y > 400 %}
            M118 Probe Position outside the probing area!
        {% else %}
            Z_SENSOR_PROBE_ONCE
        {% endif %}
    {% endif %}

###################################
# SET Z-Motors offsets
###################################

[gcode_macro set_zmotors_offset]
gcode:
    {% set xplorer = printer['gcode_macro _XPLORER_VARIABLES'] %}
    Tool0
    CHECK_HOME
    G90
    G1 Z10 F5000
    G1 X{xplorer.idex_mzx} Y{xplorer.idex_mzy} F10000
    Z_SENSOR_PROBE_ONCE
    _save_off_motorz
    G90
    G1 Z10 F5000
    G1 X{xplorer.idex_mz1x} Y{xplorer.idex_mz1y} F10000
    Z_SENSOR_PROBE_ONCE
    _save_off_motorz1
    G90
    G1 Z10 F5000
    G1 X{xplorer.idex_mz2x} Y{xplorer.idex_mz2y} F10000
    Z_SENSOR_PROBE_ONCE
    _save_off_motorz2
    G1 Z10 F5000
    G28 X
    G28 Y

###################################
# Z_TILT_ADJUST wrapper (Cartographer two-pass)
###################################

[gcode_macro Z_TILT_ADJUST]
rename_existing: Z_TILT_ADJUST_BASE
gcode:
    Tool0
    SAVE_GCODE_STATE NAME=STATE_Z_TILT
    BED_MESH_CLEAR
    {% if not printer.z_tilt.applied %}
        Z_TILT_ADJUST_BASE horizontal_move_z=10 retry_tolerance=1
    {% endif %}
    Z_TILT_ADJUST_BASE horizontal_move_z=7
    RESTORE_GCODE_STATE NAME=STATE_Z_TILT

###################################
# Save Z-Motors offsets (probe-agnostic)
###################################

[gcode_macro _save_off_motorz]
gcode:
    {% set val = none %}
    {% if printer["probe"] is defined %}
        {% set val = printer["probe"].last_z_result|round(6) %}
    {% elif printer["beacon"] is defined %}
        {% set val = printer["beacon"].last_z_result|round(6) %}
    {% elif printer["cartographer"] is defined %}
        {% set val = printer["cartographer"].last_z_result|round(6) %}
    {% endif %}
    {% if val is not none %}
        SAVE_VARIABLE VARIABLE=mot_z VALUE={val}
        M118 "Stored Motor Z Offset is : {val}"
    {% else %}
        M118 "Error: Missing probe data."
    {% endif %}

[gcode_macro _save_off_motorz1]
gcode:
    {% set val = none %}
    {% if printer["probe"] is defined %}
        {% set val = printer["probe"].last_z_result|round(6) %}
    {% elif printer["beacon"] is defined %}
        {% set val = printer["beacon"].last_z_result|round(6) %}
    {% elif printer["cartographer"] is defined %}
        {% set val = printer["cartographer"].last_z_result|round(6) %}
    {% endif %}
    {% if val is not none %}
        SAVE_VARIABLE VARIABLE=mot_z1 VALUE={val}
        M118 "Stored Motor Z1 Offset is : {val}"
    {% else %}
        M118 "Error: Missing probe data."
    {% endif %}

[gcode_macro _save_off_motorz2]
gcode:
    {% set val = none %}
    {% if printer["probe"] is defined %}
        {% set val = printer["probe"].last_z_result|round(6) %}
    {% elif printer["beacon"] is defined %}
        {% set val = printer["beacon"].last_z_result|round(6) %}
    {% elif printer["cartographer"] is defined %}
        {% set val = printer["cartographer"].last_z_result|round(6) %}
    {% endif %}
    {% if val is not none %}
        SAVE_VARIABLE VARIABLE=mot_z2 VALUE={val}
        M118 "Stored Motor Z2 Offset is : {val}"
    {% else %}
        M118 "Error: Missing probe data."
    {% endif %}

###################################
# Brush overrides (CB2-safe, reduced move count)
###################################

[gcode_macro Brush_Tool0]
gcode:
    {% set svv = printer.save_variables.variables %}
    M118 Brushing Tool0
    G90
    Tool0
    G1 Z10 F2000
    G0 X94 Y405 Z{svv.h_brush} F9000
    G1 F5000
    {% for i in range(4) %}
        G1 X129 Y405
        G1 X94 Y405
    {% endfor %}
    G0 Z10 F2000
    M400

[gcode_macro Brush_Tool1]
gcode:
    {% set svv = printer.save_variables.variables %}
    M118 Brushing Tool1
    G90
    G1 Z10 F2000
    Tool1
    G0 X294 Y405 Z{svv.h_brush} F9000
    G1 F5000
    {% for i in range(4) %}
        G1 X329 Y405
        G1 X294 Y405
    {% endfor %}
    G0 Z10 F2000
    M400
