##################################
# Axis X -- IDEX on BTT Octopus V1.1
##################################
## Replaces 0_Xplorer/01_Default_CFG/Xp_X_Axis_IDEX.cfg
## Octopus driver slots 0 and 1, TMC2240 in SPI mode.
## A [tmc2209] and a [tmc2240] cannot both exist for the same stepper, so this
## is a full replacement rather than a pin override.

##################################
# Axis X -- Carriage T0
##################################

[stepper_x]
step_pin: PF13
dir_pin: PF12
enable_pin: !PF14
microsteps: 32
rotation_distance: 32 #31.93                     #Califlower Calibration https://www.printables.com/model/682023-califlower-calibration-stl-calculator
endstop_pin: ~Tool0: PB6                     # Tool EBB36 Board
position_endstop: 0
position_max: 340
position_min: -1
homing_speed: 180
homing_retract_dist: 5.0
homing_retract_speed: 50
second_homing_speed: 10

[tmc2240 stepper_x]
cs_pin: PC4
spi_bus: spi1_PA6_PA7_PA5
rref: 12000                                  # BTT TMC2240 module reference resistor
run_current: 0.95
hold_current: 0.500
interpolate: false
stealthchop_threshold: 0
driver_TBL: 2
driver_TOFF: 3
driver_HEND: 2
driver_HSTRT: 0


##################################
# Axis X -- Carriage T1
##################################

[dual_carriage]
axis: x
step_pin: PG0
dir_pin: PG1
enable_pin: !PF15
microsteps: 32
rotation_distance: 32 #31.93                     #Califlower Calibration https://www.printables.com/model/682023-califlower-calibration-stl-calculator
endstop_pin: ~Tool1: PB6                     # Tool EBB36 Board
position_endstop: 421
position_max: 422
position_min: 80
homing_speed: 180
homing_retract_dist: 5.0
homing_retract_speed: 50
second_homing_speed: 10

[tmc2240 dual_carriage]
cs_pin: PD11
spi_bus: spi1_PA6_PA7_PA5
rref: 12000
run_current: 0.95
hold_current: 0.500
interpolate: false
stealthchop_threshold: 0
driver_TBL: 2
driver_TOFF: 3
driver_HEND: 2
driver_HSTRT: 0
