##################################
# Axis Y -- BTT Octopus V1.1
#################################
## Replaces 0_Xplorer/01_Default_CFG/Xp_Y_Axis_1xGantry.cfg
## Octopus driver slots 2 and 3, TMC2240 in SPI mode.
##
#       BACK side of the printer    ##
#                                   ##
#       Y                   Y1      ##
#                                   ##
#       LEFT side of the printer    ##


#  Right side of the printer  ##

[stepper_y]
step_pin: PF11
dir_pin: !PG3
enable_pin: !PG5
microsteps: 32
rotation_distance: 40 #39.90            #Califlower Calibration https://www.printables.com/model/682023-califlower-calibration-stl-calculator
endstop_pin: ~PG9
position_endstop: 449
position_max: 450
position_min: 0
homing_speed: 150
homing_retract_dist: 5.0
homing_retract_speed: 50
second_homing_speed: 10

[tmc2240 stepper_y]
cs_pin: PC6
spi_bus: spi1_PA6_PA7_PA5
rref: 12000                             # BTT TMC2240 module reference resistor
run_current: 1.5
hold_current: 0.4
interpolate: true
stealthchop_threshold: 350


#  Left side of the printer  ###

[stepper_y1]                       # Left side of the printer
step_pin: PG4
dir_pin: PC1
enable_pin: !PA0
microsteps: 32
rotation_distance: 40 #39.90            #Califlower Calibration https://www.printables.com/model/682023-califlower-calibration-stl-calculator


[tmc2240 stepper_y1]
cs_pin: PC7
spi_bus: spi1_PA6_PA7_PA5
rref: 12000
run_current: 1.5
hold_current: 0.4
interpolate: true
stealthchop_threshold: 350
