##################################
# Z Axis -- 3 Steppers, BTT Octopus V1.1
##################################
## Replaces 0_Xplorer/01_Default_CFG/Xp_Z_Axis.cfg
## Octopus driver slots 4, 5 and 6, TMC2240 in SPI mode.
## A [tmc2209] and a [tmc2240] cannot both exist for the same stepper, so this
## is a full replacement rather than a pin override.

#   BACK of the printer   #
#                         #
#           Z1            #
#                         #
#       Z       Z2        #
#                         #
#   FRONT of the printer  #


#  Stepper Left  ###########

[stepper_z]
step_pin: PF9
dir_pin: PF10
enable_pin: !PG2
microsteps: 32
rotation_distance: 40
gear_ratio: 80:16
endstop_pin: PG10
position_max: 410
position_min: -3
homing_speed: 20
homing_retract_dist: 10.0
homing_retract_speed: 10
second_homing_speed: 5

[tmc2240 stepper_z]
cs_pin: PF2
spi_bus: spi1_PA6_PA7_PA5
rref: 12000                             # BTT TMC2240 module reference resistor
run_current: 1.4
hold_current: 0.9
stealthchop_threshold: 999999


#  Stepper Back  ############

[stepper_z1]
step_pin: PC13
dir_pin: !PF0
enable_pin: !PF1
microsteps: 32
rotation_distance: 40
gear_ratio: 80:16
endstop_pin: PG11

[tmc2240 stepper_z1]
cs_pin: PE4
spi_bus: spi1_PA6_PA7_PA5
rref: 12000
run_current: 1.4
hold_current: 0.9
stealthchop_threshold: 999999


#  Stepper Right  #########

[stepper_z2]
step_pin: PE2
dir_pin: !PE3
enable_pin: !PD4
microsteps: 32
rotation_distance: 40
gear_ratio: 80:16
endstop_pin: PG12

[tmc2240 stepper_z2]
cs_pin: PE1
spi_bus: spi1_PA6_PA7_PA5
rref: 12000
run_current: 1.4
hold_current: 0.9
stealthchop_threshold: 999999
