
##################################
# Z_TILT_ADJUST
##################################

[gcode_macro _RETRACT_IF_PRINTING]
gcode:
    {% if printer.print_stats.state in ["printing", "paused"] and printer[printer.toolhead.extruder].can_extrude %}
        {% set svv = printer.save_variables.variables %}
        SAVE_GCODE_STATE NAME=_retract_tc
        M83
        G1 E-{svv.tc_retract} F2400
        RESTORE_GCODE_STATE NAME=_retract_tc
    {% endif %}

[gcode_macro Z_TILT_ADJUST]
rename_existing: BASE_Z_TILT_ADJUST
gcode:
    Tool0
    BASE_Z_TILT_ADJUST


####################################
# Save Z-Motors offsets
####################################

[gcode_macro _save_off_motorz]
gcode:
    {% set svv = printer.save_variables.variables %}
    {% set mot_z = printer["probe"].last_z_result|round(6) %}
    {% if mot_z is not none %}
    SAVE_VARIABLE VARIABLE=mot_z VALUE={mot_z}
    M118 "Stored Motor Z Offset is : {mot_z}"
    {% else %}
        M118 "Error: Missing probe data."
    {% endif %}

[gcode_macro _save_off_motorz1]
gcode:
    {% set svv = printer.save_variables.variables %}
    {% set mot_z1 = printer["probe"].last_z_result|round(6) %}
    {% if mot_z1 is not none %}
    SAVE_VARIABLE VARIABLE=mot_z1 VALUE={mot_z1}
    M118 "Stored Motor Z1 Offset is : {mot_z1}"
    {% else %}
        M118 "Error: Missing probe data."
    {% endif %}

[gcode_macro _save_off_motorz2]
gcode:
    {% set svv = printer.save_variables.variables %}
    {% set mot_z2 = printer["probe"].last_z_result|round(6) %}
    {% if mot_z2 is not none %}
    SAVE_VARIABLE VARIABLE=mot_z2 VALUE={mot_z2}
    M118 "Stored Motor Z2 Offset is : {mot_z2}"
    {% else %}
        M118 "Error: Missing probe data."
    {% endif %}    
    
####################################
# Mesh Bed Leveling
####################################

[gcode_macro BED_MESH_CALIBRATE]
rename_existing: BASE_BED_MESH_CALIBRATE
gcode:
      Tool0
      BASE_BED_MESH_CALIBRATE

[gcode_macro Mesh_Leveling]
gcode:
      {% set svv = printer.save_variables.variables %}
      SET_HEATER_TEMPERATURE HEATER=heater_bed TARGET={svv.mesh_tmp}
      G28 # Home All
      M190 S{svv.mesh_tmp} # Wait for bed to reach target temperature           
      Z_TILT_ADJUST
      BED_MESH_CALIBRATE PROFILE=default METHOD=automatic # Start probing
      G28 Z

####################################
# Check Homming status
####################################

[gcode_macro CHECK_HOME]
gcode:
    {% set homed_axes = printer.toolhead.homed_axes %}
    {% if "x" not in homed_axes %}
    M118 Home X Axis
    G28 X
    {% endif %}
    {% if "y" not in homed_axes %}
    M118 Home Y Axis
    G28 Y
    {% endif %}
    {% if "z" not in homed_axes %}
    M118 Home Z Axis
    G28 Z
    {% endif %}

##########################################
#POWER ON/OFF
##########################################

[gcode_macro Power_ON]
gcode:
  SET_PIN PIN=Power VALUE=1

[gcode_macro Power_OFF]
gcode:
  SET_PIN PIN=Power VALUE=0

##########################################
#Case Light
##########################################

[gcode_macro CASELIGHT_ON]
description: Helper: Light on
gcode: SET_PIN PIN=caselight VALUE=1
    
[gcode_macro CASELIGHT_OFF]
description: Helper: Light off
gcode:SET_PIN PIN=caselight VALUE=0

##########################################
#Chamber Fan
##########################################

[gcode_macro M141]
gcode:
    SET_TEMPERATURE_FAN_TARGET temperature_fan="chamber_fan" target={params.S}


#######################################
# END_PRINT Power off
#######################################

[gcode_macro END_PRINT_OFF]
gcode:
    M118 Cooling down and then SHUT DOWN
    G4 P180000                                 # wait 3min
    Power_off                                  # power off

    
#####################################################################
# Calibrate Probe Offset
####################################################################

[gcode_macro Calibrate_Probe_Offset]
gcode:
      G28
      G90
      G1 X210 Y200 F5000
      PROBE_CALIBRATE

#########################################
# PID Autotune Bed
########################################

[gcode_macro PID_BED]
 gcode:
       PID_CALIBRATE HEATER=heater_bed TARGET=90

#####################################################################
# ‘Marlin’ style M808 compatibility macro for SDCard looping
#####################################################################

[gcode_macro M808]
gcode:
      {% if params.K is not defined and params.L is defined %}SDCARD_LOOP_BEGIN COUNT={params.L|int}
      {% endif %}
      {% if params.K is not defined and params.L is not defined %}SDCARD_LOOP_END
      {% endif %}
      {% if params.K is defined and params.L is not defined %}SDCARD_LOOP_DESIST
      {% endif %}

#####################################################################
# TFT Controller - Filament unload
#####################################################################

[gcode_macro UNLOAD_FILAMENT]
gcode:
      {% set xplorer = printer['gcode_macro _Xplorer_VARIABLES'] %} 
      M118 Unloading filament...
      M83
      G92 E0 
      M118 Hotend heating!
      G28 X
      G90
      SET_DUAL_CARRIAGE CARRIAGE=0                                                                                 #activate T0
      G1 X100 F5000
      SET_DUAL_CARRIAGE CARRIAGE=1                                                                                 #activate T1
      G1 X333 F5000
      M109 S{xplorer.tmp_uld}                                                                                                 #set temperature and wait      
      G0 E-5 F3600 	                                                                                               #extract filament to cold end
      G4 P2000                                                                                                     #wait for two seconds
      G0 E4.5 F3600                                                                                                #push the filament back 
      G0 E-5 F3600 	                                                                                               #extract filament to cold end
      G0 E{xplorer.fil_uld} F300	                                                                                               #continue extraction slow allow filament to be cooled enough before reaches the gears  
      M400
      M118 Filament unload complete!
      M117 Filament unload complete!
      M104 S0                                                                                                      #turn off the hotend 

#####################################################################
# TFT Controller - Filament load
#####################################################################

[gcode_macro LOAD_FILAMENT]
gcode:
      {% set xplorer = printer['gcode_macro _xplorer_VARIABLES'] %} 
      M118 Loading filament...
      M83
      G92 E0 
      M118 Hotend heating!
      G28 X
      G90
      SET_DUAL_CARRIAGE CARRIAGE=0                                                                                 #activate T0
      G1 X100 F5000
      SET_DUAL_CARRIAGE CARRIAGE=1                                                                                 #activate T1
      G1 X333 F5000
      M109 S{xplorer.tmp_ld}                                                                                                   #set temperature and wait      
      G0 E{xplorer.fil_ld} F400	                                                                                               #Load Filament 
      M400
      M118 Filament load complete!
      M117 Filament load complete!
      M104 S0                                                                                                      #turn off the hotend
      G0 E-5 F3600 	                                                                                               #extract filament to cold end


####################################################################
# SET Power Supply at print end
####################################################################

[gcode_macro SET_POWERSUPPLY_ENDPRINT]
description: Set whatever the printer turns off stays on after the print is ended (ON, OFF)

gcode:
    {% set pwr = params.PWR|default("ON;OFF") %}
    {% set svv = printer.save_variables.variables %}
    {% if pwr == "OFF" %}
    SAVE_VARIABLE VARIABLE=pwrendp VALUE=0
    M118 Printer will shut down after print end
    {% elif pwr == "ON" %}
    SAVE_VARIABLE VARIABLE=pwrendp VALUE=1
    M118 Printer will stay powered after print end
    {% else %}
    M118 Invalid input! Available options are: ON and OFF.
    {% endif %}

####################################################################
# Query Power supply behavior at print end
####################################################################

[gcode_macro QUERY_POWERSUPPLY_ENDPRINT]
gcode:
    {% set svv = printer.save_variables.variables %}
    {%if svv.pwrendp == 0%}
     M118 Printer will shut down after print end
    {%endif%}
    {%if svv.pwrendp == 1%}
     M118 Printer will stay powered after print end
    {%endif%}