##################################
# Shell Commands
##################################
#######################################################
# Measure Resonaces on X-Axis Copy Mode
#######################################################

[gcode_shell_command resonaces_x_2xGantrycp]
command: sh /home/biqu/printer_data/config/0_Xplorer/.8_Scripts/resonances_X_2xGantrycp.sh
timeout: 80

#######################################################
# Measure Resonaces on Y-Axis Copy Mode
#######################################################

[gcode_shell_command resonaces_y_2xGantrycp]
command: sh /home/biqu/printer_data/config/0_Xplorer/.8_Scripts/resonances_Y_2xGantrycp.sh
timeout: 80

#######################################################
# Measure Resonaces on X-Axis Mirror Mode
#######################################################

[gcode_shell_command resonaces_x_2xGantrymr]
command: sh /home/biqu/printer_data/config/0_Xplorer/.8_Scripts/resonances_X_2xGantrymr.sh
timeout: 80

#######################################################
# Measure Resonaces on Y-Axis Mirror Mode
#######################################################

[gcode_shell_command resonaces_y_2xGantrymr]
command: sh /home/biqu/printer_data/config/0_Xplorer/.8_Scripts/resonances_Y_2xGantrymr.sh
timeout: 80
