#### CONFIG BASED ON THE Klipper-Toolchanger  ( https://github.com/viesturz/klipper-toolchanger // https://github.com/viesturz/klipper-toolchanger/blob/main/examples/calibrate-offsets.cfg  ####
                                                #### Many Thanks to Viesturs Zariņš for this great Klipper Tool !!! ###
                                                
#############################

[tools_calibrate]
pin: PG12 # BTT Octopus PRO      
travel_speed: 10  # mms to travel sideways for XY probing
spread: 10 #7  # mms to travel down from top for XY probing
lower_z: 0.3 #0.5  # The speed (in mm/sec) to move tools down onto the probe
speed: 3  # The speed (in mm/sec) to retract between probes
lift_speed: 6  # Z Lift after probing done, should be greater than any Z variance between tools
final_lift_z: 6 
sample_retract_dist: 5
samples_tolerance:0.08
samples:2
samples_result: median # median, average

##################################
# Move print head over probe
##################################

[gcode_macro CALIBRATE_MOVE_OVER_PROBE]
gcode:
    {% set xplorer = printer['gcode_macro _XPLORER_VARIABLES'] %} 
    BED_MESH_CLEAR
    #{% if printer.toolhead.extruder == "extruder" %}
    G0 Z{xplorer.calp_z} F2000
    G0 X{xplorer.calp_x} Y{xplorer.calp_y} F8000  #
    #{% else %}
    #G0 Z{xplorer.calp_z} F2000
    #G0 X{xplorer.calp_x} Y{xplorer.calp_y - 55} F8000  #
    #{% endif %}
    
###################################
# Calibration tools offsets
###################################

[gcode_macro AUTO_CALIBRATE_tool_offsets]
gcode:     
    {% set svv = printer["save_variables"].variables %} 
    M118 Zeroing Offsets ...
    SAVE_VARIABLE VARIABLE=x1offset VALUE=0.0
    SAVE_VARIABLE VARIABLE=y1offset VALUE=0.0
    SAVE_VARIABLE VARIABLE=z1offset VALUE=0.0
    SAVE_VARIABLE VARIABLE=x2offset VALUE=0.0
    SAVE_VARIABLE VARIABLE=y2offset VALUE=0.0
    SAVE_VARIABLE VARIABLE=z2offset VALUE=0.0
    SAVE_VARIABLE VARIABLE=x3offset VALUE=0.0
    SAVE_VARIABLE VARIABLE=y3offset VALUE=0.0
    SAVE_VARIABLE VARIABLE=z3offset VALUE=0.0
    M104 T0 S{svv.tprobe}
    M104 T1 S{svv.tprobe}
    M104 T2 S{svv.tprobe}
    M104 T3 S{svv.tprobe}
    M118 The nozzels MUST BE PERFECTLY CLEAN !!!
    CHECK_HOME
    #G28
    SET_HEATER_TEMPERATURE HEATER=extruder TARGET={svv.tprobe}
    SET_HEATER_TEMPERATURE HEATER=extruder1 TARGET={svv.tprobe}
    SET_HEATER_TEMPERATURE HEATER=extruder2 TARGET={svv.tprobe}
    SET_HEATER_TEMPERATURE HEATER=extruder3 TARGET={svv.tprobe}
    TEMPERATURE_WAIT SENSOR=extruder MINIMUM={svv.tprobe} TIMEOUT=300
    TEMPERATURE_WAIT SENSOR=extruder1 MINIMUM={svv.tprobe} TIMEOUT=300
    TEMPERATURE_WAIT SENSOR=extruder2 MINIMUM={svv.tprobe} TIMEOUT=300
    TEMPERATURE_WAIT SENSOR=extruder3 MINIMUM={svv.tprobe} TIMEOUT=300
    Brush_Tool0
    Brush_Tool1
    Brush_Tool2
    Brush_Tool3
    Tool0    
    CALIBRATE_MOVE_OVER_PROBE
    TOOL_LOCATE_SENSOR
    M104 T0 S0
    Tool1    
    CALIBRATE_MOVE_OVER_PROBE
    TOOL_CALIBRATE_TOOL_OFFSET
    M104 T1 S0
    PARK_extruder1
    _save_offsets_t1

####################################
# Save Tool1 offsets in variables.cfg
####################################

[gcode_macro _save_offsets_t1]
description: Save the tool offsets into variables.cfg
gcode:
    {% set offsets = printer["tools_calibrate"].last_result %}
    {% if offsets %}
        {% set x_offset = offsets[0]|round(6) %}
        {% set y_offset = offsets[1]|round(6) %}
        {% set z_offset = (offsets[2] * -1)|round(6) %}
        
        # Save offsets to variables.cfg
        SAVE_VARIABLE VARIABLE=x1offset VALUE={x_offset}
        SAVE_VARIABLE VARIABLE=y1offset VALUE={y_offset}
        SAVE_VARIABLE VARIABLE=z1offset VALUE={z_offset}
        
        # Display confirmation
        M118 Tool1 Offsets were saved: X={x_offset} Y={y_offset} Z={z_offset}
    {% else %}
        M118 Error: No offsets to save. Run TOOL_CALIBRATE_TOOL_OFFSET first.
    {% endif %}


###################################
# Calibrate probe offset
###################################
       
[gcode_macro AUTO_CALIBRATE_probe_offset]
variable_x_offset:0     #must be the same with what it is declared in [probe]
variable_y_offset:18.5 #must be the same with what it is declared in [probe]
gcode:
    {% set svv = printer.save_variables.variables %}   
    M104 T0 S{svv.tprobe}
    Tool0
    CHECK_HOME  
    SET_HEATER_TEMPERATURE HEATER=extruder TARGET={svv.tprobe}
    TEMPERATURE_WAIT SENSOR=extruder MINIMUM={svv.tprobe} TIMEOUT=300
    Brush_Tool0
    CALIBRATE_MOVE_OVER_PROBE
    TOOL_LOCATE_SENSOR
    G91
    G1 X{x_offset} Y{y_offset} Z15 F5000
    G90
    BASE_PROBE
    G28 Z    
    _save_offsets_bedprobe
    M104 T0 S0

####################################
# Save bed probe offsets
####################################

[gcode_macro _save_offsets_bedprobe]
gcode:
    {% set svv = printer.save_variables.variables %}
    {% set sensor_location = printer["tools_calibrate"].last_result %}
    {% set probe_z = printer["probe"].last_z_result %}
    {% set pzoff_o = printer.configfile.settings["probe"]["z_offset"]|float %} #current z_offset for the probe
    {% if sensor_location and probe_z is not none %}
        {% set sensor_z = sensor_location[2] %}
        {% set cz_offset = (probe_z - sensor_z + svv.bp_zoff)|round(3) %} # New calculated Z Offset
        {% set z_adjust = (-1*cz_offset + pzoff_o)|round(3) %} # how much must Gcode_offset adjusted in order to get the new z_offset for the probe
        M118 "Stored Probe Z Offset is : {pzoff_o}"
        M118 "New calculated Z Offset is: {cz_offset}"
        SET_GCODE_OFFSET Z={z_adjust}
        Z_OFFSET_APPLY_PROBE
    {% else %}
        M118 "Error: Missing sensor or probe data."
    {% endif %}

####################################
# Zero Offsets
####################################

[gcode_macro ZERO_TOOL_OFFSETS]
gcode:
    {% set svv = printer.save_variables.variables %}
    M118 Zeroing Offsets ...
    SAVE_VARIABLE VARIABLE=x1offset VALUE=0.0
    SAVE_VARIABLE VARIABLE=y1offset VALUE=0.0
    SAVE_VARIABLE VARIABLE=z1offset VALUE=0.0

#######################################################
# Flash xplorer MCU Ext BTT Pico
#######################################################

[gcode_shell_command flash_mcu_ext]
command: sh /home/biqu/printer_data/config/0_Xplorer/.9_MCU_Flash/scripts/flash_ext_BTTpico.sh
timeout: 80

[gcode_macro Flash_Extension]
description: This macro flashes the Extension Board with the latest Klipper version from your system
gcode:
    M118 This will flash the Extension Board with the latest Klipper firmware.
    M118 The process may take a few minutes, so be patient.
    RUN_SHELL_COMMAND CMD=flash_mcu_ext
    M118 Flash is COMPLETE