##################################
# Axis X -- Carriage T0
##################################

[stepper_x]
step_pin: PF11 # BTT Octopus PRO
dir_pin: PG3  # BTT Octopus PRO
enable_pin: !PG5 # BTT Octopus PRO
microsteps: 32
rotation_distance: 32                
endstop_pin: ~Tool0: PB6                     # Tool EBB36 Board
position_endstop: 0   
position_max: 340  
position_min: -1 
homing_speed: 180
homing_retract_dist: 5.0
homing_retract_speed: 50
second_homing_speed: 10

[tmc2209 stepper_x]
uart_pin: PC6 # BTT Octopus PRO
run_current: 0.95
interpolate: false
hold_current: 0.500
sense_resistor: 0.11 
stealthchop_threshold: 0
driver_TBL: 2
driver_TOFF: 3
driver_HEND: 2
driver_HSTRT: 0


##################################
# Axis X -- Carriage T1
##################################

[dual_carriage]                             
axis: x
step_pin: PG0  # BTT Octopus PRO
dir_pin: PG1 # BTT Octopus PRO
enable_pin: !PF15 # BTT Octopus PRO
microsteps: 32
rotation_distance: 32                      
endstop_pin: ~Tool1: PB6                     # Tool EBB36 Board
position_endstop: 421   
position_max: 422  
position_min: 80 
homing_speed: 180
homing_retract_dist: 5.0
homing_retract_speed: 50
second_homing_speed: 10

[tmc2209 dual_carriage]
uart_pin: PD11 # BTT Octopus PRO
run_current: 0.95
interpolate: false
hold_current: 0.500
sense_resistor: 0.11 
stealthchop_threshold: 0
driver_TBL: 2
driver_TOFF: 3
driver_HEND: 2
driver_HSTRT: 0

