##################################
# Shell Commands
##################################
#######################################################
# Measure Resonaces on X-Axis Copy Mode
#######################################################

[gcode_shell_command resonaces_x_iqexcp]
command: sh /home/biqu/printer_data/config/0_Xplorer/.8_Scripts/resonances_X_iqexcp.sh
timeout: 80

#######################################################
# Measure Resonaces on Y-Axis Copy Mode
#######################################################

[gcode_shell_command resonaces_y_iqexcp]
command: sh /home/biqu/printer_data/config/0_Xplorer/.8_Scripts/resonances_Y_iqexcp.sh
timeout: 80

#######################################################
# Measure Resonaces on X-Axis Mirror Mode
#######################################################

[gcode_shell_command resonaces_x_iqexmr]
command: sh /home/biqu/printer_data/config/0_Xplorer/.8_Scripts/resonances_X_iqexmr.sh
timeout: 80

#######################################################
# Measure Resonaces on Y-Axis Mirror Mode
#######################################################

[gcode_shell_command resonaces_y_iqexmr]
command: sh /home/biqu/printer_data/config/0_Xplorer/.8_Scripts/resonances_Y_iqexmr.sh
timeout: 80

#######################################################
# Measure Resonaces on X-Axis Copy Mode
#######################################################

[gcode_shell_command resonaces_x_idexcp]
command: sh /home/biqu/printer_data/config/0_Xplorer/.8_Scripts/resonances_X_idexcp.sh
timeout: 80

#######################################################
# Measure Resonaces on Y-Axis Copy Mode
#######################################################

[gcode_shell_command resonaces_y_idexcp]
command: sh /home/biqu/printer_data/config/0_Xplorer/.8_Scripts/resonances_Y_idexcp.sh
timeout: 80

#######################################################
# Measure Resonaces on X-Axis Mirror Mode
#######################################################

[gcode_shell_command resonaces_x_idexmr]
command: sh /home/biqu/printer_data/config/0_Xplorer/.8_Scripts/resonances_X_idexmr.sh
timeout: 80

#######################################################
# Measure Resonaces on Y-Axis Mirror Mode
#######################################################

[gcode_shell_command resonaces_y_idexmr]
command: sh /home/biqu/printer_data/config/0_Xplorer/.8_Scripts/resonances_Y_idexmr.sh
timeout: 80

#######################################################
# Flash xplorer MCU Ext BTT Pico
#######################################################

[gcode_shell_command flash_mcu_ext]
command: sh /home/biqu/printer_data/config/0_Xplorer/.9_MCU_Flash/scripts/flash_ext_BTTpico.sh
timeout: 80

[gcode_macro Flash_Extension]
description: This macro flashes the Extension Board with the latest Klipper version from your system
gcode:
    M118 This will flash the Extension Board with the latest Klipper firmware.
    M118 The process may take a few minutes, so be patient.
    RUN_SHELL_COMMAND CMD=flash_mcu_ext
    M118 Flash is COMPLETE