##################################
# Z Axis -- 3 Steppers
##################################

#   BACK of the printer   #
#                         #
#           Z1            #
#                         #
#       Z       Z2        #
#                         #
#   FRONT of the printer  #


#  Stepper Left  ###########

[stepper_z]                                 
step_pin: PE6 # BTT Octopus PRO
dir_pin: PA14 # BTT Octopus PRO
enable_pin: !PE0 # BTT Octopus PRO
microsteps: 32
rotation_distance: 40
gear_ratio: 80:16
endstop_pin: PG10 # BTT Octopus PRO
position_endstop: 401
position_max: 401
position_min: -3
homing_speed: 20
homing_retract_dist: 10.0
homing_retract_speed: 10
second_homing_speed: 5

[tmc2209 stepper_z]
uart_pin: PD3 # BTT Octopus PRO
run_current: 1.4
hold_current: 0.9
stealthchop_threshold: 999999


#  Stepper Back  ############

[stepper_z1]                               
step_pin: PE2 # BTT Octopus PRO
dir_pin: !PE3 # BTT Octopus PRO
enable_pin: !PD4 # BTT Octopus PRO
microsteps: 32
rotation_distance: 40
gear_ratio: 80:16
endstop_pin: PG9 # BTT Octopus PRO

[tmc2209 stepper_z1]
uart_pin: PE1  # BTT Octopus PRO
run_current: 1.4
hold_current: 0.9
stealthchop_threshold: 999999


#  Stepper Right  #########

[stepper_z2]                               
step_pin: PC13 # BTT Octopus PRO
dir_pin: !PF0 # BTT Octopus PRO
enable_pin: !PF1 # BTT Octopus PRO
microsteps: 32
rotation_distance: 40
gear_ratio: 80:16
endstop_pin: PG6 # BTT Octopus PRO

[tmc2209 stepper_z2]
uart_pin: PE4  # BTT Octopus PRO
run_current: 1.4
hold_current: 0.9
stealthchop_threshold: 999999
