##################################
# Axis X -- Carriage Tool0
##################################

[carriage t0]
axis: x
gantry: gantry0
endstop_pin:~Tool0:PB6
position_min: -1
position_endstop: 0
position_max: 421 
homing_speed: 180
homing_retract_dist: 5.0
homing_retract_speed: 50
second_homing_speed: 10
#homing_positive_dir:

[stepper x]
carriages: t0
step_pin: PF11 # BTT Octopus PRO
dir_pin: PG3  # BTT Octopus PRO
enable_pin: !PG5 # BTT Octopus PRO
microsteps: 64 #32
rotation_distance: 32                  

[tmc2209 stepper x]
uart_pin: PC6 # BTT Octopus PRO
run_current: 0.95
interpolate: false
hold_current: 0.500
sense_resistor: 0.11 
stealthchop_threshold: 0
driver_TBL: 2
driver_TOFF: 3
driver_HEND: 2
driver_HSTRT: 0

##################################
# Axis X -- Carriage Tool1
##################################

[dual_carriage t1]
primary_carriage: t0
safe_distance:80
endstop_pin: ~Tool1:PB6 
position_min: -1 #80
position_endstop: 421 
position_max: 422
homing_speed: 180
homing_retract_dist: 5.0
homing_retract_speed: 50
second_homing_speed: 10
#homing_positive_dir:

[stepper x1]
carriages: t1
step_pin: PG0  # BTT Octopus PRO
dir_pin: PG1 # BTT Octopus PRO
enable_pin: !PF15 # BTT Octopus PRO
microsteps: 64 #32
rotation_distance: 32 

[tmc2209 stepper x1]
uart_pin: PD11 # BTT Octopus PRO
run_current: 0.95
interpolate: false
hold_current: 0.500
sense_resistor: 0.11 
stealthchop_threshold: 0
driver_TBL: 2
driver_TOFF: 3
driver_HEND: 2
driver_HSTRT: 0

##################################
# Axis X -- Carriage Tool2
##################################

[dual_carriage t2]
axis: x
gantry: gantry1
endstop_pin:~Tool2:PB6
position_min: -1
position_endstop: 0
position_max: 421
homing_speed: 180
homing_retract_dist: 5.0
homing_retract_speed: 50
second_homing_speed: 10
#homing_positive_dir:

[stepper x2]
carriages: t2
step_pin: ext:gpio14
dir_pin: !ext:gpio13
enable_pin: !ext:gpio15
microsteps: 32
rotation_distance: 32         

[tmc2209 stepper x2]
uart_pin: ext:gpio9 # BTT PICO
tx_pin: ext:gpio8 # BTT PICO
uart_address: 3
run_current: 0.95
interpolate: false
hold_current: 0.500
sense_resistor: 0.11 
stealthchop_threshold: 0
driver_TBL: 2
driver_TOFF: 3
driver_HEND: 2
driver_HSTRT: 0

##################################
# Axis X -- Carriage Tool3
##################################

[dual_carriage t3]
primary_carriage: t2
safe_distance:80
endstop_pin: ~Tool3:PB6 
position_min: -1 #80
position_endstop: 421 
position_max: 422
homing_speed: 180
homing_retract_dist: 5.0
homing_retract_speed: 50
second_homing_speed: 10
#homing_positive_dir:

[stepper x3]
carriages: t3
step_pin: ext:gpio11
dir_pin: !ext:gpio10
enable_pin: !ext:gpio12
microsteps: 32
rotation_distance: 32

[tmc2209 stepper x3]
uart_pin: ext:gpio9 # BTT PICO
tx_pin: ext:gpio8 # BTT PICO
uart_address: 0
run_current: 0.95
interpolate: false
hold_current: 0.500
sense_resistor: 0.11 
stealthchop_threshold: 0
driver_TBL: 2
driver_TOFF: 3
driver_HEND: 2
driver_HSTRT: 0