#### CONFIG BASED ON THE Klipper-Toolchanger  ( https://github.com/viesturz/klipper-toolchanger // https://github.com/viesturz/klipper-toolchanger/blob/main/examples/calibrate-offsets.cfg  ####
                                                #### Many Thanks to Viesturs Zariņš for this great Klipper Tool !!! ###
                                                
#############################

[xptools_calibrate]
pin: PF2 # BTT M8P V2.0 // PF5 #BTT M8P V1.1
travel_speed: 10  # mms to travel sideways for XY probing
spread: 10 #7  # mms to travel down from top for XY probing
lower_z: 0.3 #0.5  # The speed (in mm/sec) to move tools down onto the probe
speed: 3  # The speed (in mm/sec) to retract between probes
lift_speed: 6  # Z Lift after probing done, should be greater than any Z variance between tools
final_lift_z: 6 
sample_retract_dist: 5
samples_tolerance:0.08
samples:2
samples_result: median # median, average

##################################
# Move print head over probe
##################################

[gcode_macro CALIBRATE_MOVE_OVER_PROBE]
gcode:
    {% set xplorer = printer['gcode_macro _XPLORER_VARIABLES'] %}
    {% set th = printer.toolhead %}
    {% set active_extruder = th.extruder if th.extruder is defined else "" %}
    BED_MESH_CLEAR
    G90
    G0 Z{xplorer.calp_z} F2000
    {% if active_extruder in ["extruder", "extruder1"] %}
        G0 X{xplorer.calp_x} Y{xplorer.calp_y} F8000
    {% else %}
        G0 X{xplorer.calp_x} Y{xplorer.calp_y - 55} F8000
    {% endif %}

[gcode_macro AUTO_CALIBRATE_tool_offsets]
description: Calibrate offsets for Tool1/2/3 relative to Tool0 using tools_calibrate
gcode:
    {% set svv = printer["save_variables"].variables %}

    M118 === Calibrating ALL tool offsets (T0 baseline) ===
    M118 The nozzles MUST BE PERFECTLY CLEAN !!!

    CHECK_HOME

    ZERO_TOOL_OFFSETS

    # Heat T0 and T1 to probe temp
    M104 T0 S{svv.tprobe}
    M104 T1 S{svv.tprobe}
    SET_HEATER_TEMPERATURE HEATER=extruder  TARGET={svv.tprobe}
    SET_HEATER_TEMPERATURE HEATER=extruder1 TARGET={svv.tprobe}
    TEMPERATURE_WAIT SENSOR=extruder  MINIMUM={svv.tprobe} TIMEOUT=300
    TEMPERATURE_WAIT SENSOR=extruder1 MINIMUM={svv.tprobe} TIMEOUT=300

    # Now Heat T2 and T3 to probe temp
    M104 T2 S{svv.tprobe}
    M104 T3 S{svv.tprobe}
    SET_HEATER_TEMPERATURE HEATER=extruder2 TARGET={svv.tprobe}
    SET_HEATER_TEMPERATURE HEATER=extruder3 TARGET={svv.tprobe}
    TEMPERATURE_WAIT SENSOR=extruder2 MINIMUM={svv.tprobe} TIMEOUT=300
    TEMPERATURE_WAIT SENSOR=extruder3 MINIMUM={svv.tprobe} TIMEOUT=300

    # Brush all tools (your T2/T3 brush macros already do the gantry dance)
    Brush_Tool0
    Brush_Tool1
    Brush_Tool2
    Brush_Tool3

    # --- Baseline: Tool0 locate sensor (gantry0/t0) ---
    Tool0
    CALIBRATE_MOVE_OVER_PROBE
    TOOL_LOCATE_SENSOR
    M104 T0 S0

    # --- Tool1 on gantry0/t1 ---
    Tool1
    CALIBRATE_MOVE_OVER_PROBE
    TOOL_CALIBRATE_TOOL_OFFSET
    _save_offsets_t1
    M104 T1 S0
    PARK_extruder1

    # --- Tool2 on gantry1/t2 ---
    # move gantry0 to max
    # move tool1 left ~100mm
    G90
    ACTIVATE_EXTRUDER EXTRUDER=extruder1
    SET_DUAL_CARRIAGE CARRIAGE=gantry0
    SET_DUAL_CARRIAGE CARRIAGE=t1
    G1 X340 Y450 F9000
    # make tool 2 active
    ACTIVATE_EXTRUDER EXTRUDER=extruder2
    SET_DUAL_CARRIAGE CARRIAGE=gantry1
    SET_DUAL_CARRIAGE CARRIAGE=t2

    CALIBRATE_MOVE_OVER_PROBE
    TOOL_CALIBRATE_TOOL_OFFSET
    _save_offsets_t2
    M104 T2 S0
    G28 Y
    G28 X

    # --- Tool3 on gantry1/t3 ---
    # move gantry0 to max
    # move tool0 right ~100mm
    G90
    ACTIVATE_EXTRUDER EXTRUDER=extruder1
    SET_DUAL_CARRIAGE CARRIAGE=gantry0
    SET_DUAL_CARRIAGE CARRIAGE=t0
    G1 X80 Y450 F9000

    # make tool 3 active
    ACTIVATE_EXTRUDER EXTRUDER=extruder3
    SET_DUAL_CARRIAGE CARRIAGE=gantry1
    SET_DUAL_CARRIAGE CARRIAGE=t3

    CALIBRATE_MOVE_OVER_PROBE
    TOOL_CALIBRATE_TOOL_OFFSET
    _save_offsets_t3
    M104 T3 S0
    G28 Y
    G28 X

    M118 === Tool offset calibration complete ===


####################################
# Save Tool1 offsets in variables.cfg
####################################

[gcode_macro _save_offsets_t1]
description: Save the tool offsets into variables.cfg
gcode:
    {% set offsets = printer["xptools_calibrate"].last_result %}
    {% if offsets %}
        {% set x_offset = offsets[0]|round(6) %}
        {% set y_offset = offsets[1]|round(6) %}
        {% set z_offset = (offsets[2] * -1)|round(6) %}
        
        # Save offsets to variables.cfg
        SAVE_VARIABLE VARIABLE=x1offset VALUE={x_offset}
        SAVE_VARIABLE VARIABLE=y1offset VALUE={y_offset}
        SAVE_VARIABLE VARIABLE=z1offset VALUE={z_offset}
        
        # Display confirmation
        M118 Tool1 Offsets were saved: X={x_offset} Y={y_offset} Z={z_offset}
    {% else %}
        M118 Error: No offsets to save. Run TOOL_CALIBRATE_TOOL_OFFSET first.
    {% endif %}

####################################
# Save Tool2 offsets in variables.cfg
####################################

[gcode_macro _save_offsets_t2]
description: Save Tool2 offsets into variables.cfg
gcode:
    {% set offsets = printer["xptools_calibrate"].last_result %}
    {% if offsets %}
        {% set x_offset = offsets[0]|round(6) %}
        {% set y_offset = offsets[1]|round(6) %}
        {% set z_offset = (offsets[2] * -1)|round(6) %}
        SAVE_VARIABLE VARIABLE=x2offset VALUE={x_offset}
        SAVE_VARIABLE VARIABLE=y2offset VALUE={y_offset}
        SAVE_VARIABLE VARIABLE=z2offset VALUE={z_offset}
        M118 Tool2 Offsets saved: X={x_offset} Y={y_offset} Z={z_offset}
    {% else %}
        M118 Error: No offsets to save for Tool2.
    {% endif %}

####################################
# Save Tool3 offsets in variables.cfg
####################################

[gcode_macro _save_offsets_t3]
description: Save Tool3 offsets into variables.cfg
gcode:
    {% set offsets = printer["xptools_calibrate"].last_result %}
    {% if offsets %}
        {% set x_offset = offsets[0]|round(6) %}
        {% set y_offset = offsets[1]|round(6) %}
        {% set z_offset = (offsets[2] * -1)|round(6) %}
        SAVE_VARIABLE VARIABLE=x3offset VALUE={x_offset}
        SAVE_VARIABLE VARIABLE=y3offset VALUE={y_offset}
        SAVE_VARIABLE VARIABLE=z3offset VALUE={z_offset}
        M118 Tool3 Offsets saved: X={x_offset} Y={y_offset} Z={z_offset}
    {% else %}
        M118 Error: No offsets to save for Tool3.
    {% endif %}

###################################
# Calibrate probe offset
###################################
       
[gcode_macro AUTO_CALIBRATE_probe_offset]
variable_x_offset:0     #must be the same with what it is declared in [probe]
variable_y_offset:18.5 #must be the same with what it is declared in [probe]
gcode:
    {% set svv = printer.save_variables.variables %}   
    M104 T0 S{svv.tprobe}
    Tool0
    CHECK_HOME  
    SET_HEATER_TEMPERATURE HEATER=extruder TARGET={svv.tprobe}
    TEMPERATURE_WAIT SENSOR=extruder MINIMUM={svv.tprobe} TIMEOUT=300
    Brush_Tool0
    CALIBRATE_MOVE_OVER_PROBE
    TOOL_LOCATE_SENSOR
    G91
    G1 X{x_offset} Y{y_offset} Z15 F5000
    G90
    BASE_PROBE
    G28 Z    
    _save_offsets_bedprobe
    M104 T0 S0

####################################
# Save bed probe offsets
####################################

[gcode_macro _save_offsets_bedprobe]
gcode:
    {% set svv = printer.save_variables.variables %}
    {% set sensor_location = printer["xptools_calibrate"].last_result %}
    {% set probe_z = printer["probe"].last_z_result %}
    {% set pzoff_o = printer.configfile.settings["probe"]["z_offset"]|float %} #current z_offset for the probe
    {% if sensor_location and probe_z is not none %}
        {% set sensor_z = sensor_location[2] %}
        {% set cz_offset = (probe_z - sensor_z + svv.bp_zoff)|round(3) %} # New calculated Z Offset
        {% set z_adjust = (-1*cz_offset + pzoff_o)|round(3) %} # how much must Gcode_offset adjusted in order to get the new z_offset for the probe
        M118 "Stored Probe Z Offset is : {pzoff_o}"
        M118 "New calculated Z Offset is: {cz_offset}"
        SET_GCODE_OFFSET Z={z_adjust}
        Z_OFFSET_APPLY_PROBE
    {% else %}
        M118 "Error: Missing sensor or probe data."
    {% endif %}

####################################
# Zero Offsets
####################################

[gcode_macro ZERO_TOOL_OFFSETS]
gcode:
    {% set svv = printer.save_variables.variables %}
    M118 Zeroing Offsets ...
    SAVE_VARIABLE VARIABLE=x1offset VALUE=0.0
    SAVE_VARIABLE VARIABLE=y1offset VALUE=0.0
    SAVE_VARIABLE VARIABLE=z1offset VALUE=0.0
    SAVE_VARIABLE VARIABLE=x2offset VALUE=0.0
    SAVE_VARIABLE VARIABLE=y2offset VALUE=0.0
    SAVE_VARIABLE VARIABLE=z2offset VALUE=0.0
    SAVE_VARIABLE VARIABLE=x3offset VALUE=0.0
    SAVE_VARIABLE VARIABLE=y3offset VALUE=0.0
    SAVE_VARIABLE VARIABLE=z3offset VALUE=0.0
