##################################
# Axis X -- Carriage Tool0
##################################

[carriage x]
endstop_pin:~Tool0: PB6
position_min: -1
position_endstop: 0
position_max: 419
homing_speed: 180
homing_retract_dist: 5.0
homing_retract_speed: 50
second_homing_speed: 10

[stepper x]
carriages: x
step_pin: PF11 # BTT Octopus PRO
dir_pin: !PG3  # BTT Octopus PRO
enable_pin: !PG5 # BTT Octopus PRO
microsteps: 32
rotation_distance: 32 

[tmc2209 stepper x]
uart_pin: PC6 # BTT Octopus PRO
run_current: 0.95
interpolate: false
hold_current: 0.500
sense_resistor: 0.11 
stealthchop_threshold: 0
driver_TBL: 2
driver_TOFF: 3
driver_HEND: 2
driver_HSTRT: 0

##################################
# Axis X -- Carriage Tool1
##################################

[dual_carriage dc_x]
primary_carriage: x
#safe_distance:
endstop_pin: ~Tool1: PB6 
position_min: 0
position_endstop: 419 
position_max: 420
homing_speed: 180
homing_retract_dist: 5.0
homing_retract_speed: 50
second_homing_speed: 10

[stepper x1]
carriages: dc_x
step_pin: PG0 # BTT Octopus PRO
dir_pin: PG1 #  BTT Octopus PRO
enable_pin: !PF15 # BTT Octopus PRO
microsteps: 32
rotation_distance: 32

[tmc2209 stepper x1]
uart_pin: PD11  # BTT Octopus PRO
run_current: 0.95
interpolate: false
hold_current: 0.500
sense_resistor: 0.11 
stealthchop_threshold: 0
driver_TBL: 2
driver_TOFF: 3
driver_HEND: 2
driver_HSTRT: 0
