##################################
# Axis Y --
#################################
#       BACK side of the printer    ##
#                                   ##
#       Y                   Y1      ##
#                                   ##
#       Y2                   Y3     ##
#     Front side of the printer    ##


#  Back side of the printer  ##

[carriage gantry0]
axis: y
endstop_pin: ~PG11  # BTT Octopus PRO
position_endstop: 449
position_max: 450
position_min: -1 #92
homing_speed: 150
homing_retract_dist: 5.0
homing_retract_speed: 50
second_homing_speed: 10

[stepper y]
carriages: gantry0
step_pin: PF9 # BTT Octopus PRO
dir_pin: PF10 # BTT Octopus PRO
enable_pin: !PG2 # BTT Octopus PRO
microsteps: 32
rotation_distance: 34

[tmc2209 stepper y]
uart_pin: PF2 # BTT Octopus PRO
run_current: 2.0
interpolate: true
hold_current: 0.7
stealthchop_threshold: 99999

###########################################################

#[extra_carriage gantry01]
#primary_carriage: gantry0
#endstop_pin: ?? # 

[stepper y2]
carriages: gantry0
step_pin: PG4 # BTT Octopus PRO
dir_pin: !PC1  # BTT Octopus PRO
enable_pin: !PA0 # BTT Octopus PRO
microsteps: 32
rotation_distance: 40

[tmc2209 stepper y2]
uart_pin: PC7 # BTT Octopus PRO
run_current: 2.0
interpolate: true
hold_current: 0.7
stealthchop_threshold: 99999

###########################################################

#  Front side of the printer  ###

[dual_carriage gantry1]
safe_distance:70 
primary_carriage: gantry0
endstop_pin: ~ext:gpio25 # BTT PICO
position_endstop: 0
position_max: 450 
position_min: -1
homing_speed: 150
homing_retract_dist: 5.0
homing_retract_speed: 50
second_homing_speed: 10

[stepper y1]                       # Left side of the printer
carriages:gantry1
step_pin: ext:gpio6 # BTT PICO
dir_pin: !ext:gpio5 # BTT PICO
enable_pin: !ext:gpio7 # BTT PICO
microsteps: 32
rotation_distance: 40

[tmc2209 stepper y1]
uart_pin: ext:gpio9 # BTT PICO
tx_pin: ext:gpio8 # BTT PICO
uart_address: 2
run_current: 2.0
interpolate: true
hold_current: 0.7
stealthchop_threshold: 99999

###########################################################

#[extra_carriage gantry11]
#primary_carriage: gantry1
#endstop_pin: ?? # 

[stepper y3]
carriages: gantry1
step_pin: ext:gpio19 # BTT PICO
dir_pin: !ext:gpio28 # BTT PICO
enable_pin: !ext:gpio2 # BTT PICO
microsteps: 32
rotation_distance: 40

[tmc2209 stepper y3]
uart_pin: ext:gpio9 # BTT PICO
tx_pin: ext:gpio8 # BTT PICO
uart_address: 1
run_current: 2.0
interpolate: true
hold_current: 0.7
stealthchop_threshold: 99999


