##################################
# Axis Y --
#################################
#       BACK side of the printer    ##
#                                   ##
#       Y                   Y1      ##
#                                   ##
#       Y2                   Y3     ##
#     Front side of the printer    ##


#  Back side of the printer  ##

[carriage gantry0]
axis: y
endstop_pin: ~PF3 # BTT M8P V2.0 // ~PF4 #BTT M8P V1.1
position_endstop: 449
position_max: 450
position_min: 92
homing_speed: 150
homing_retract_dist: 5.0
homing_retract_speed: 50
second_homing_speed: 10

[stepper y]
carriages: gantry0
step_pin: PG13 # BTT M8P V2.0 // PC9 #BTT M8P V1.1
dir_pin: !PG12  # BTT M8P V2.0 // !PC8 #BTT M8P V1.1
enable_pin: !PG15 # BTT M8P V2.0 // !PD1 #BTT M8P V1.1
microsteps: 32
rotation_distance: 39.90            #Califlower Calibration https://www.printables.com/model/682023-califlower-calibration-stl-calculator

[tmc2209 stepper y]
uart_pin: PG14 # BTT M8P V2.0 // PD0 #BTT M8P V1.1
run_current: 2.0
interpolate: true
hold_current: 0.7
stealthchop_threshold: 99999

###########################################################

#[extra_carriage gantry01]
#primary_carriage: gantry0
#endstop_pin: ?? # 

#[stepper y2]
#carriages: gantry01
#step_pin: ??
#dir_pin: !??
#enable_pin: !??
#microsteps: 32
#rotation_distance: 39.90            #Califlower Calibration https://www.printables.com/model/682023-califlower-calibration-stl-calculator

#[tmc2209 stepper y2]
#uart_pin: ??
#run_current: 2.0
#interpolate: true
#hold_current: 0.7
#stealthchop_threshold: 99999

###########################################################

#  Front side of the printer  ###

[dual_carriage gantry1]
primary_carriage: gantry0
endstop_pin: ~PF4 # BTT M8P V2.0 
position_endstop: 0
position_max: 357
position_min: -1
homing_speed: 150
homing_retract_dist: 5.0
homing_retract_speed: 50
second_homing_speed: 10

[stepper y1]                       # Left side of the printer
carriages:gantry1
step_pin: PB4 # BTT M8P V2.0 // PD3 #BTT M8P V1.1
dir_pin: !PB3  # BTT M8P V2.0 // PD2 #BTT M8P V1.1
enable_pin: !PB6 # BTT M8P V2.0 // !PD5 #BTT M8P V1.1
microsteps: 32
rotation_distance: 39.90            #Califlower Calibration https://www.printables.com/model/682023-califlower-calibration-stl-calculator

[tmc2209 stepper y1]
uart_pin: PB5 # BTT M8P V2.0 // PD4 #BTT M8P V1.1
run_current: 2.0
interpolate: true
hold_current: 0.7
stealthchop_threshold: 99999

###########################################################

#[extra_carriage gantry11]
#primary_carriage: gantry1
#endstop_pin: ?? # 

#[stepper y3]
#carriages: gantry11
#step_pin: ??
#dir_pin: !??
#enable_pin: !??
#microsteps: 32
#rotation_distance: 39.90            #Califlower Calibration https://www.printables.com/model/682023-califlower-calibration-stl-calculator

#[tmc2209 stepper y3]
#uart_pin: ??
#run_current: 2.0
#interpolate: true
#hold_current: 0.7
#stealthchop_threshold: 99999


